@model ResumeProject.Models.AboutViewModel

<section id="about">
	<div class="container">
		<div class="section-title h2 text-center mb-8">
			<h2 class="mb-0">Hakkımda</h2>
			<span class="title-letter">H</span>
		</div>
		@foreach(var item in Model.Abouts.Where(x=>x.IsActive == true))
		{
			<div class="row">
			<div class="col-md-6 col-lg-4 d-none d-lg-block">
				<img class="img-fluid w-100 rounded" src="@item.ImageUrl" alt="">
			</div>
			<div class="col-lg-8">
				<h3>@item.NameSurname</h3>
				<p class="lead">@item.Title</p>
				<p class="mb-5">@item.Description</p>
				<div class="row mb-8">
					<div class="col-md-6 mb-5 mb-md-0">
						<h4 class="mb-4">Eğitimlerim</h4>
							@foreach(var x in Model.Educations)
							{
								<p class="h5">@x.Section</p>
								<p>@x.School, @x.Date</p>
							}
					</div>

					<div class="col-md-6">
						<h4 class="mb-4">Deneyimlerim</h4>
							@foreach(var x in Model.Experiences)
							{
								<p class="h5">@x.Title</p>
								<p>@x.Description.Substring(0,200).., <br />@x.WorkDate</p>
							}
					</div>
				</div>
					<a href="@Url.Action("DownloadCV", "About")" class="btn btn-primary">
						<i class="fas fa-download"></i> Cv İndir
					</a>
				<a href="#contact" class="btn btn-light scrollto">Mesaj Gönder</a>
			</div>
		</div>
		}
		
	</div>
</section>